<html>
    {{>inserts/head}}
    <body>
        <div class="d-flex flex-column">
            {{>inserts/navbar}}
            <div class="d-flex flex-row flex-fill align-content-center justify-content-center" style="padding-top: 5vh; padding-bottom: 5vh">
                <div class="bg-light d-flex flex-column" style="width: 45vw; border-radius: 10px; box-shadow: 0 15px 15px rgba(0,0,0,.25); padding: 5vh;">
                    <div class="d-flex flex-row align-content-center">
                        <img src="{{profilePicture}}" style="width: 6vw; height: 6vw; border: 2px; border-color: red; border-radius: .25rem"/>
                        <h1 class="align-self-center" style="padding-left: 2vw; font-size: 3.5vh">@{{handle}}</h1>
                    </div>
                    <div class="d-flex flex-fill" style="padding-top: 1.25vw">
                        <form class="flex-fill">
                            <div class="align-items-center">
                                <h4>Handle</h4>
                                <label class="sr-only" for="FormInputGroupHandle">handle</label>
                                <div class="input-group" style="margin-bottom: 1.25vw">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fas fa-at"></i></div>
                                    </div>
                                    <input type="text" class="form-control" id="FormInputGroupHandle" value="{{handle}}" placeholder="Handle">
                                </div>
                                <h4>Profile Picture</h4>
                                <label class="sr-only" for="FormInputGroupProfilePicture">profilePicture</label>
                                <div class="input-group" style="margin-bottom: 1.25vw">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fas fa-link"></i></div>
                                    </div>
                                    <input type="text" class="form-control" id="FormInputGroupProfilePicture" value="{{profilePicture}}" placeholder="Profile Picture URL">
                                </div>
                                <h4>Location</h4>
                                <label class="sr-only" for="FormInputGroupLocation">location</label>
                                <div class="input-group" style="margin-bottom: 1.25vw">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fas fa-map-marker-alt" style="margin-left: 2px; margin-right: 2px;"></i></div>
                                    </div>
                                    <input type="text" class="form-control" id="FormInputGroupLocation" value="{{location}}" placeholder="Location">
                                </div>
                                <h4>Bio</h4>
                                <label class="sr-only" for="FormInputGroupBio">bio</label>
                                <div class="input-group" style="margin-bottom: 1.25vw">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="far fa-comment-alt"></i></div>
                                    </div>
                                    <textarea type="text" class="form-control" id="FormInputGroupBio" placeholder="Bio">{{bio}}</textarea>
                                </div>
                                <div>
                                    <button type="button" onclick="logout()" class="btn btn-danger float-left">Logout</button>
                                    <button type="button" onclick="updateUser()" class="btn btn-primary float-right">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>